 body
 {
 background-color: #f3f3f3;
 }

 .generalbackend
 {
  padding-left: 17%; 
  padding-right: 17%; 
  padding-top: 1%; 
  padding-bottom: 1%;
 }

 .general
{
    font-family: 'Nunito', Helvetica,Arial,Lucida,sans-serif;
}

.fluid-style
{
  padding-top: 0%; 
  padding-left: 0%;
  background-color: #ffffff;
}


 .App
 {
  background-color: #f3f3f3;
  padding-left: 17%;
  padding-right: 17%;
  padding-top: 1%;
  padding-top: 1%;
 }
 
 .paginageneral
 {
    background-color: white;
    padding: 3%;
    padding-right: 5%;
 }

 .menu
 {
     margin: 0%;
     padding: 0%;
     padding-bottom: 1%;
     list-style: none;
     display: flex;
     background-color: white;
 }
 
 .menu li a {
     color:black;
     text-decoration: none;
 }
 
 .menu li
 {
 padding-right: 2%;
 padding-left: 1%;
 }





 .footerlinks {
  background-color: #f3f3f3; 
  text-align:center; 
  margin-top: 1%;
  padding-bottom: 1%;
}

.listabaja
{
  margin: 0%;
  padding: 0%;
  list-style: none;
  display: flex;
}

.listabaja li a {
  color:black;
  text-decoration: none;
}

.listabaja li
{
flex-grow: 11;
}

.logout
{
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  width: 100%; 
  padding-right: 2%;
}

.bienvenido
{
  text-align: left; 
  
  margin: 0; 
  margin-left: 25px;
}

.negro
{
  font-weight: bold; 
  color: black;
  text-decoration: none;
}

.salida
{
  align-self: flex-end; 
  text-align: right;
}

.display-btn-post
{
  display: flex; 
  align-items: center;
}

.paginageneral
{
   background-color: white;
   padding: 3%;
   padding-right: 5%;
}

.contentText
{
   text-align: justify;
}

.generaltablaBlog
 {  
    padding: 3%;
    padding-right: 15%;
    padding-left: 15%;
 }
 
 .disabled-input {
  background-color: #eee;
  color: #777;
}

.table-responsive td.text-center {
  text-align: center;
}

.form-group.col-md-4
{
  display: flex;
  align-items: center;
}


.menu-interno
{
    color: black;
    text-decoration: none;
    margin-left: 2%;
}

.espaciado-enviar
{
  margin-top: 3%;
  margin-bottom: 5%;
}

.baja {
  color: #dc3545;
}

.msg-error
{
  color: #dc3545;
  font-style: italic;
  font-weight: bold;
}
