<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,800;1,400&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>   
<div style="padding-left: 17%; padding-right: 17%; padding-top: 1%; padding-bottom: 1%;" class="general">
    <div class="container-fluid">
<div class="container-fluid" style="padding-top: 0%; padding-left: 0%;background-color: #ffffff;"><a href="/"><img src="/images/img/logo.png" alt="Huellitas"></a></div> 
    {{{body}}}
    <div class="footerlinks">   
    <ul class='listabaja'>
      <li><a href="#" title="Aviso legal">Aviso legal</a></li>
      <li><a href="#" title="Política de privacidad">Política de privacidad</a></li>
      <li><a href="#" title="Condiciones Generales">Condiciones Generales</a></li>
      <li><a href="#" title="Política de Cookies">Política de Cookies</a></li>
    </ul>
    </div>
    </div>
</div>
  </body>
</html>
