<div className="paginageneral contentText" style="display: flex; align-items: center; background-color: white;">
    <div id="logout" style="display: flex; align-items: center; justify-content: space-between; width: 100%; padding-right: 2%;">
        <p style="text-align: left; font-weight: bold; margin: 0; margin-left: 25px;">Bienvenid@, {{persona}}.</p>
        <a href="/admin/login/logout" style="align-self: flex-end; text-align: right; font-weight: bold;">Cerrar sesión <i class="fas fa-right-from-bracket" style="color: black; font-weight: bold;"></i></a>
    </div>
</div>

