h1{
color: red; /*Comentario*/
text-decoration: underline;
background-color: aqua;
text-align:  center;
}

h2{

color: coral;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 22px;
display: inline-block;
}

#cabecera
{
    color: blue;
    background-color: bisque;   
}
span
{
font-weight: bold;
font-style: italic;

}


a:visited
{
    color: green;
}


